@model IEnumerable<MvcCoreEnfermosEF.Models.Doctor>

@{
    ViewData["Title"] = "Index";
    List<string> especialidades = ViewData["ESPECIALIDADES"] as List<string>;
}

<h1>Index</h1>

<form method="post" asp-action="IncrementoSalario">
    <label>Seleccione Especialidad: </label>
    <select name="especialidad" class="form-control">
        @foreach (string especialidad in especialidades)
        {
            <option value="@especialidad">
                @especialidad
            </option>
        }
    </select>
    <label>Incremento: </label>
    <input class="form-control" type="number" name="incremento" />
    <button class="btn btn-success" type="submit">
        Incrementar
    </button>
</form>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
        </tr>
}
    </tbody>
</table>
